/* Windows 95 style scrollbar */
.scrollContainer ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.scrollContainer ::-webkit-scrollbar-track {
  background: repeating-conic-gradient(#c0c0c0 0% 25%, #ffffff 0% 50%) 50% / 2px 2px;
}

.scrollContainer ::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #ffffff #808080 #808080 #ffffff;
}

.scrollContainer ::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}

.scrollContainer ::-webkit-scrollbar-button {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  width: 16px;
  height: 16px;
}

.scrollContainer ::-webkit-scrollbar-button:hover {
  background: #d4d4d4;
}

.scrollContainer ::-webkit-scrollbar-corner {
  background: #c0c0c0;
}

.scrollArea {
  height: 100%;
  overflow: auto;
}
